@import "tailwindcss";

@theme {
    --color-primary: #ffffff;
    --color-secondary: #519170;
    --color-tertiary: #029ab5;
    --color-accent: #45ddb2;
    --color-error: #e44b4b;
    --color-warning: #f4b737;
    --color-background: #161617;
    --color-card: #222121;
}
